<h1>Photo <%= @photo_id %></h1>

<li>
  <img src="<%= @photo_source %>">
  <p>
    <%= @photo_caption %>
  </p>
  <p>
    <%= time_ago_in_words(@photo_ago) %>
  </p>
  <a href="/photos"> Go Back</a>
</li>